$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon_quotes: "\e906";
$icon_arrow_top: "\e900";
$icon_arrow_left: "\e901";
$icon_arrow_right: "\e902";
$icon_facebook: "\e903";
$icon_instagram: "\e904";
$icon_telegram-2: "\e905";

