.creativity {
    .section__title {
        color: #D8D1DB;

        span {
            display: block;

            &:first-child {
                text-align: right;

            }
        }
    }

    &__row {
        @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;
        }
    }

    &__col {
        margin-bottom: 2em;

        &:last-child {
            margin-bottom: 0;
        }
        @media (min-width: 768px) {
            margin-bottom: 0;

        }

        &:first-child {
            @media (min-width: 768px) {
                width: 51em;
            }
        }

        &:last-child {
            @media (min-width: 768px) {
                width: 28.125em;

            }
        }
    }

    &__product {
        .product {
            &__img {
                height: 22.125em;
                @media (min-width: 768px) {
                    height: 29.125em;
                }

            }

            &__currency {
                span {
                    color: #D8D1DB;
                }
            }
        }

    }

    &__content {
        margin-top: 1.5em;
        @media (min-width: 768px) {
            margin-top: 3.125em;
            width: 35.75em;
            margin-left: auto;
        }

        span {
            font-size: 0.875em;
            line-height: 1.55;
            font-weight: 300;
            @media (min-width: 768px) {
                line-height: 1.8;

            }
        }
    }

    &__button {
        margin-top: 1em;
        margin-left: 12em;
        @media (min-width: 768px) {
            margin-top: 4em;
            margin-left: 4em;

        }
    }

}
