/* Global variables */
/* ======================================================================== */
$main_font_family: "Gilroy";
$title_font_family_italic: "Ogg";
$title_font_family: "GillSansLightC";
$main_color: #260E31;
$main_line_height: 1.2;
$main_font_size: 1em;

$container_width: 89.5em;

// Color collection for elements
$color_warning: #9D834B;
$color_white: #ffffff;
$color_title: #411F51;