{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "",
      "timeout": 20000,
      "autoUpload": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": "index.html",
          "mtimeMs": 1676586014064.298,
          "ctimeMs": 1676588396457.1404,
          "date": "2023-02-18T09:18:54.225Z"
        },
        {
          "file": "css/aos.css",
          "mtimeMs": 1676419925976.2737,
          "ctimeMs": 1676419925976.677,
          "date": "2023-02-16T10:24:10.027Z"
        },
        {
          "file": "css/fancybox.min.css",
          "mtimeMs": 1676419942747.742,
          "ctimeMs": 1676419942747.8936,
          "date": "2023-02-16T10:24:10.196Z"
        },
        {
          "file": "css/style.css",
          "mtimeMs": 1676713512855.2183,
          "ctimeMs": 1676713512855.2183,
          "date": "2023-02-18T09:45:13.169Z"
        },
        {
          "file": "css/swiper-bundle.min.css",
          "mtimeMs": 1676419936215.4556,
          "ctimeMs": 1676419936215.5813,
          "date": "2023-02-16T10:24:10.526Z"
        },
        {
          "file": "fonts/cormorantInfant/CormorantInfant-MediumItalic.eot",
          "mtimeMs": 1676423485000,
          "ctimeMs": 1676423520671.757,
          "date": "2023-02-16T10:24:10.795Z"
        },
        {
          "file": "fonts/cormorantInfant/CormorantInfant-MediumItalic.ttf",
          "mtimeMs": 1676423485000,
          "ctimeMs": 1676423520671.6985,
          "date": "2023-02-16T10:24:11.086Z"
        },
        {
          "file": "fonts/cormorantInfant/CormorantInfant-MediumItalic.woff",
          "mtimeMs": 1676423485000,
          "ctimeMs": 1676423520671.7168,
          "date": "2023-02-16T10:24:11.328Z"
        },
        {
          "file": "fonts/cormorantInfant/CormorantInfant-MediumItalic.woff2",
          "mtimeMs": 1676423486000,
          "ctimeMs": 1676423520671.6729,
          "date": "2023-02-16T10:24:11.526Z"
        },
        {
          "file": "fonts/cormorantInfant/demo.html",
          "mtimeMs": 1676423486000,
          "ctimeMs": 1676423520671.7385,
          "date": "2023-02-16T10:24:11.683Z"
        },
        {
          "file": "fonts/cormorantInfant/stylesheet.css",
          "mtimeMs": 1676423486000,
          "ctimeMs": 1676423520671.6433,
          "date": "2023-02-16T10:24:11.845Z"
        },
        {
          "file": "fonts/gillSans/GillSansLightC.eot",
          "mtimeMs": 1676422952000,
          "ctimeMs": 1676422965889.0894,
          "date": "2023-02-16T10:24:12.017Z"
        },
        {
          "file": "fonts/gillSans/GillSansLightC.ttf",
          "mtimeMs": 1676422952000,
          "ctimeMs": 1676422965889.0498,
          "date": "2023-02-16T10:24:12.195Z"
        },
        {
          "file": "fonts/gillSans/GillSansLightC.woff",
          "mtimeMs": 1676422952000,
          "ctimeMs": 1676422965889.1162,
          "date": "2023-02-16T10:24:12.349Z"
        },
        {
          "file": "fonts/gillSans/GillSansLightC.woff2",
          "mtimeMs": 1676422952000,
          "ctimeMs": 1676422965889.071,
          "date": "2023-02-16T10:24:12.509Z"
        },
        {
          "file": "fonts/gillSans/demo.html",
          "mtimeMs": 1676422952000,
          "ctimeMs": 1676422965889.156,
          "date": "2023-02-16T10:24:12.685Z"
        },
        {
          "file": "fonts/gillSans/stylesheet.css",
          "mtimeMs": 1676422952000,
          "ctimeMs": 1676422965889.1353,
          "date": "2023-02-16T10:24:12.847Z"
        },
        {
          "file": "fonts/gilroy/Gilroy-Bold.eot",
          "mtimeMs": 1676457814000,
          "ctimeMs": 1676457857891.57,
          "date": "2023-02-16T10:24:13.059Z"
        },
        {
          "file": "fonts/gilroy/Gilroy-Bold.ttf",
          "mtimeMs": 1676457814000,
          "ctimeMs": 1676457857891.4883,
          "date": "2023-02-16T10:24:13.301Z"
        },
        {
          "file": "fonts/gilroy/Gilroy-Bold.woff",
          "mtimeMs": 1676457814000,
          "ctimeMs": 1676457857891.2346,
          "date": "2023-02-16T10:24:13.478Z"
        },
        {
          "file": "fonts/gilroy/Gilroy-Bold.woff2",
          "mtimeMs": 1676457814000,
          "ctimeMs": 1676457857891.3923,
          "date": "2023-02-16T10:24:13.650Z"
        },
        {
          "file": "fonts/gilroy/Gilroy-Light.eot",
          "mtimeMs": 1676457814000,
          "ctimeMs": 1676457857891.53,
          "date": "2023-02-16T10:24:13.861Z"
        },
        {
          "file": "fonts/gilroy/Gilroy-Light.ttf",
          "mtimeMs": 1676457814000,
          "ctimeMs": 1676457857891.4702,
          "date": "2023-02-16T10:24:14.060Z"
        },
        {
          "file": "fonts/gilroy/Gilroy-Light.woff",
          "mtimeMs": 1676457814000,
          "ctimeMs": 1676457857891.2712,
          "date": "2023-02-16T10:24:14.226Z"
        },
        {
          "file": "fonts/gilroy/Gilroy-Light.woff2",
          "mtimeMs": 1676457814000,
          "ctimeMs": 1676457857891.3584,
          "date": "2023-02-16T10:24:14.409Z"
        },
        {
          "file": "fonts/gilroy/Gilroy-Medium.eot",
          "mtimeMs": 1676457815000,
          "ctimeMs": 1676457857891.2937,
          "date": "2023-02-16T10:24:14.609Z"
        },
        {
          "file": "fonts/gilroy/Gilroy-Medium.ttf",
          "mtimeMs": 1676457815000,
          "ctimeMs": 1676457857891.185,
          "date": "2023-02-16T10:24:14.794Z"
        },
        {
          "file": "fonts/gilroy/Gilroy-Medium.woff",
          "mtimeMs": 1676457815000,
          "ctimeMs": 1676457857891.5513,
          "date": "2023-02-16T10:24:14.959Z"
        },
        {
          "file": "fonts/gilroy/Gilroy-Medium.woff2",
          "mtimeMs": 1676457815000,
          "ctimeMs": 1676457857891.3757,
          "date": "2023-02-16T10:24:15.142Z"
        },
        {
          "file": "fonts/gilroy/Gilroy-Regular.eot",
          "mtimeMs": 1676457814000,
          "ctimeMs": 1676457857891.2542,
          "date": "2023-02-16T10:24:15.342Z"
        },
        {
          "file": "fonts/gilroy/Gilroy-Regular.ttf",
          "mtimeMs": 1676457814000,
          "ctimeMs": 1676457857891.4082,
          "date": "2023-02-16T10:24:15.543Z"
        },
        {
          "file": "fonts/gilroy/Gilroy-Regular.woff",
          "mtimeMs": 1676457814000,
          "ctimeMs": 1676457857891.4238,
          "date": "2023-02-16T10:24:15.709Z"
        },
        {
          "file": "fonts/gilroy/Gilroy-Regular.woff2",
          "mtimeMs": 1676457815000,
          "ctimeMs": 1676457857891.209,
          "date": "2023-02-16T10:24:15.891Z"
        },
        {
          "file": "fonts/gilroy/demo.html",
          "mtimeMs": 1676457815000,
          "ctimeMs": 1676457857891.5046,
          "date": "2023-02-16T10:24:16.075Z"
        },
        {
          "file": "fonts/gilroy/stylesheet.css",
          "mtimeMs": 1676457815000,
          "ctimeMs": 1676457857891.449,
          "date": "2023-02-16T10:24:16.229Z"
        },
        {
          "file": "fonts/icon/Read Me.txt",
          "mtimeMs": 1676424690000,
          "ctimeMs": 1676424696375.5208,
          "date": "2023-02-16T10:24:16.378Z"
        },
        {
          "file": "fonts/icon/demo.html",
          "mtimeMs": 1676424690000,
          "ctimeMs": 1676424696375.541,
          "date": "2023-02-16T10:24:16.533Z"
        },
        {
          "file": "fonts/icon/selection.json",
          "mtimeMs": 1676424690000,
          "ctimeMs": 1676424696375.5012,
          "date": "2023-02-16T10:24:16.691Z"
        },
        {
          "file": "fonts/icon/style.css",
          "mtimeMs": 1676424690000,
          "ctimeMs": 1676424696375.481,
          "date": "2023-02-16T10:24:16.842Z"
        },
        {
          "file": "fonts/icon/demo-files/demo.css",
          "mtimeMs": 1676424690000,
          "ctimeMs": 1676424696375.4011,
          "date": "2023-02-16T10:24:17.052Z"
        },
        {
          "file": "fonts/icon/demo-files/demo.js",
          "mtimeMs": 1676424690000,
          "ctimeMs": 1676424696375.4248,
          "date": "2023-02-16T10:24:17.258Z"
        },
        {
          "file": "fonts/icon/fonts/icomoon.eot",
          "mtimeMs": 1676424690000,
          "ctimeMs": 1676424696375.6643,
          "date": "2023-02-16T10:24:17.458Z"
        },
        {
          "file": "fonts/icon/fonts/icomoon.svg",
          "mtimeMs": 1676424690000,
          "ctimeMs": 1676424696375.6902,
          "date": "2023-02-16T10:24:17.661Z"
        },
        {
          "file": "fonts/icon/fonts/icomoon.ttf",
          "mtimeMs": 1676424690000,
          "ctimeMs": 1676424696375.6208,
          "date": "2023-02-16T10:24:17.907Z"
        },
        {
          "file": "fonts/icon/fonts/icomoon.woff",
          "mtimeMs": 1676424690000,
          "ctimeMs": 1676424696375.6406,
          "date": "2023-02-16T10:24:18.129Z"
        },
        {
          "file": "fonts/ogg/Ogg-Italic.eot",
          "mtimeMs": 1676423398000,
          "ctimeMs": 1676423437930.7695,
          "date": "2023-02-16T10:24:18.358Z"
        },
        {
          "file": "fonts/ogg/Ogg-Italic.ttf",
          "mtimeMs": 1676423398000,
          "ctimeMs": 1676423437930.7112,
          "date": "2023-02-16T10:24:18.596Z"
        },
        {
          "file": "fonts/ogg/Ogg-Italic.woff",
          "mtimeMs": 1676423398000,
          "ctimeMs": 1676423437930.7312,
          "date": "2023-02-16T10:24:18.826Z"
        },
        {
          "file": "fonts/ogg/Ogg-Italic.woff2",
          "mtimeMs": 1676423399000,
          "ctimeMs": 1676423437930.7483,
          "date": "2023-02-16T10:24:19.034Z"
        },
        {
          "file": "fonts/ogg/demo.html",
          "mtimeMs": 1676423399000,
          "ctimeMs": 1676423437930.7866,
          "date": "2023-02-16T10:24:19.197Z"
        },
        {
          "file": "fonts/ogg/stylesheet.css",
          "mtimeMs": 1676423399000,
          "ctimeMs": 1676423437930.6907,
          "date": "2023-02-16T10:24:19.347Z"
        },
        {
          "file": "home/index.html",
          "mtimeMs": 1676713635440.5903,
          "ctimeMs": 1676713635440.5903,
          "date": "2023-02-18T09:47:15.800Z"
        },
        {
          "file": "img/firstImg.jpg",
          "mtimeMs": 1676483084430.7893,
          "ctimeMs": 1676588396465.2686,
          "date": "2023-02-18T09:18:55.187Z"
        },
        {
          "file": "img/firstscreen_mask.svg",
          "mtimeMs": 1676418751213.2456,
          "ctimeMs": 1676494219409.0583,
          "date": "2023-02-16T10:24:19.913Z"
        },
        {
          "file": "img/slideImg.jpg",
          "mtimeMs": 1676483111126.0142,
          "ctimeMs": 1676485404172.1714,
          "date": "2023-02-16T10:24:20.113Z"
        },
        {
          "file": "js/aos.js",
          "mtimeMs": 1676419960848.1267,
          "ctimeMs": 1676419960848.2698,
          "date": "2023-02-16T10:24:20.242Z"
        },
        {
          "file": "js/fancybox.min.js",
          "mtimeMs": 1676419966787.7986,
          "ctimeMs": 1676419966788.3506,
          "date": "2023-02-16T10:24:20.417Z"
        },
        {
          "file": "js/function.js",
          "mtimeMs": 1676586185302.5754,
          "ctimeMs": 1676588396458.4563,
          "date": "2023-02-18T09:18:58.281Z"
        },
        {
          "file": "js/jquery.js",
          "mtimeMs": 1640906772000,
          "ctimeMs": 1676419775016.9624,
          "date": "2023-02-16T10:24:20.763Z"
        },
        {
          "file": "js/swiper-bundle.min.js",
          "mtimeMs": 1676419986415.6763,
          "ctimeMs": 1676419986415.893,
          "date": "2023-02-16T10:24:21.092Z"
        },
        {
          "file": "img/about.jpg",
          "mtimeMs": 1676552701895.4443,
          "ctimeMs": 1676553203395.2607,
          "date": "2023-02-16T14:06:02.119Z"
        },
        {
          "file": "img/about_bg.jpg",
          "mtimeMs": 1676552691324.1143,
          "ctimeMs": 1676553141948.959,
          "date": "2023-02-16T14:06:02.337Z"
        },
        {
          "file": "img/about_label.svg",
          "mtimeMs": 1676419169230.4783,
          "ctimeMs": 1676553166856.2847,
          "date": "2023-02-16T14:06:02.452Z"
        },
        {
          "file": "img/creativity_bg.jpg",
          "mtimeMs": 1676544698080.9768,
          "ctimeMs": 1676588396465.5508,
          "date": "2023-02-18T09:18:54.612Z"
        },
        {
          "file": "img/reviews_border.webp",
          "mtimeMs": 1676580549508.2092,
          "ctimeMs": 1676580573835.048,
          "date": "2023-02-16T22:22:21.919Z"
        },
        {
          "file": "img/work_1.jpg",
          "mtimeMs": 1676564575912.5752,
          "ctimeMs": 1676588396464.6938,
          "date": "2023-02-18T09:18:55.546Z"
        },
        {
          "file": "img/work_2.jpg",
          "mtimeMs": 1676564603726.5225,
          "ctimeMs": 1676588396465.0989,
          "date": "2023-02-18T09:18:55.744Z"
        },
        {
          "file": "img/work_3.jpg",
          "mtimeMs": 1676564612531.6536,
          "ctimeMs": 1676588396464.8804,
          "date": "2023-02-18T09:18:55.941Z"
        },
        {
          "file": "img/work_4.jpg",
          "mtimeMs": 1676564623349.474,
          "ctimeMs": 1676588396465.5242,
          "date": "2023-02-18T09:18:56.649Z"
        },
        {
          "file": "img/work_5.jpg",
          "mtimeMs": 1676564632691.8774,
          "ctimeMs": 1676588396465.5127,
          "date": "2023-02-18T09:18:57.032Z"
        },
        {
          "file": "img/work_6.jpg",
          "mtimeMs": 1676564649137.1812,
          "ctimeMs": 1676588396465.4614,
          "date": "2023-02-18T09:18:57.262Z"
        },
        {
          "file": "img/work_7.jpg",
          "mtimeMs": 1676564660567.0696,
          "ctimeMs": 1676588396465.4985,
          "date": "2023-02-18T09:18:58.163Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "./css/style.css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "./"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": []
  }
}
