.product {
    display: block;
    color: #D8D1DB;
    text-decoration: none;

    @media (min-width: 768px) {
        &:hover {
            .product__img {
                transform: scale(1.4);
            }

        }
    }

    &__wrap {
        margin-bottom: 1.125em;
        @media (min-width: 768px) {
            margin-bottom: 2.125em;
            overflow: hidden;
        }
    }

    &__img {
        @media (min-width: 768px) {
            transform: scale(1);
            transition: transform 1s;
        }

    }

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__desc {
        font-weight: 600;
        text-transform: uppercase;

        span {
            font-size: 0.875em;
        }
    }

    &__title {
        @media (min-width: 768px) {
            margin-bottom: 0.25em;
        }
    }

    &__info {
        display: flex;
        color: #73637A;
    }

    &__cat {}

    &__catname {}

    &__currency {
        letter-spacing: -0.05em;

        span {
            font-family: 'Cormorant Infant';
            font-weight: 500;
            font-style: italic;
            font-size: 2em;
            color: $color_warning;
        }
    }

}
