@font-face {
    font-family: 'GillSansLightC';
    src: url('GillSansLightC.eot');
    src: url('GillSansLightC.eot?#iefix') format('embedded-opentype'),
        url('GillSansLightC.woff2') format('woff2'),
        url('GillSansLightC.woff') format('woff'),
        url('GillSansLightC.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

