footer.footer
    .footer__row
        .footer__col
            .footer__logo

                a.logo(href="/")
                    span Lusine Saakyan <i>Art</i>

            .footer__info
                span All rights reserved © <script type="text/javascript">document.write(new Date().getFullYear());</script>

        .footer__col
            .footer__nav
                nav.navbar
                    ul.menu
                        li.menu-item
                            a(href="#") About
                        li.menu-item.current-menu-item
                            a(href="#") artworks
                        li.menu-item
                            a(href="#") Contact

                .toTop.toTop-js
                    a(href="#wrapper")
                        span Back to top
                        i.icon_arrow_top
