header.header
    .header__content
        .header__logo
            a.logo(href="/")
                span Lusine Saakyan <i>Art</i>
        .header__action
            .header__toggle

                .toggle
                    .toggle__label
                        span menu
                    .toggle__button
                        .toggle__toggle


                ul.menu
                    li.menu-item.current-menu-item
                        a(href="#") About
                    li.menu-item
                        a(href="#") artworks
                    li.menu-item
                        a(href="#") Contact

            .header__basket
                .basket
                    .basket__label
                        span chat
                    .basket__count
                        span 0
