extends ../layout/layout.pug
block variable
    -var path = '../';

block content

    // begin firstscreen
    section#firstscreen.firstscreen.section
        .container_center
            .firstscreen__row

                .firstscreen__col
                    h1.section__title
                        span Lusine<br>Saakyan<br><i>art</i>

                    .firstscreen__button
                        a.btn(href="#")
                            span explore

                    .firstscreen__content
                        .firstscreen__masc.bg
                        span Artists’ creativity works in mysterious and paradoxical  ways. Creative thinking is a stable defining characteristic in some personalities but it may change based on situation and context. My inspiration and ideas 


                .firstscreen__col
                    .firstscreen__bg.bg(style="background-image: url('../../img/firstImg.jpg')")

                .firstscreen__col
                    .swiper.singleSlider.single_swiper_js.itemForDataFancybox_js
                        .swiper-wrapper

                            each item in ['', '', '', '', '', '']
                                .swiper-slide
                                    .singleSlider__slide
                                        .singleSlider__img.img
                                            a(href="../../img/slideImg.jpg" data-fancybox data-type="image")
                                                img(src="../../img/slideImg.jpg" loading="lazy" alt="img")

                                        .singleSlider__content
                                            a.singleSlider__link(href="#test")
                                                span Decorative Bouquet. Series: nature
                                                i.icon_arrow_right

                                            .singleSlider__desc
                                                span Yellow flower bouquet with decorative detail. Bright lively composition with dark blue purple background. In private collection.


                        .singleSlider__control
                            .singleSlider__dotted


    // end firstscreen

    // begin creativity
    section#creativity.creativity.section.section_dark
        .container_center
            .creativity__row

                .creativity__col
                    h2.section__title.section__title_sm
                        span Artists’ creativity
                        span works in mysterious and<br> paradoxical <i>ways</i>
                    .creativity__content
                        span Creative thinking is a stable defining characteristic in some personalities but it may change based on situation and context. My inspiration and ideas often arise seemingly out of nowhere  and  then  fail to  show  up  when  needed.  Creative  thinking  requires emotional outbursts, imaginative journey, and distinct from the thinking process and I embrace it wholeheartedly.
                        .creativity__button
                            a.btn(href="#")
                                span explore


                .creativity__col
                    .creativity__product
                        .product
                            .product__bg.bg(style="background-image: url('../../img/creativity_bg.jpg')")

                            .product__content

                                .product__desc
                                    .product__title
                                        span Million Pomegranates
                                    .product__info
                                        .product__cat
                                            span Series:&nbsp 
                                        .product__catname
                                            span  nature

                                .product__currency
                                    span $
                                    span 775


    // end creativity

    // begin about
    section#about.about.section
        .container_center
            .about__content
                .about__top
                    h2.section__title.section__title_sm
                        span I Find Art<br>Incredibly <i>healing</i>
                .about__main
                    p My name is Lusine Saakyan, I have a degree in Child Development, I am an artist and a mother of two. I believe art is an essential part of our lives. Creative minds bring out beauty and balance into our day. Many forms of art speak to us in ways we can relate to and have the ability to transform our mood. Having a small portion of our day dedicated to making, listening, reading, or viewing art gives us positive energy.
                    p Painting, creating, and discovering ways to express myself presented me with vibrant energy to deal with everything else that was taking place around me.

                    p What started as a hobby turned into much more. My artworks apparently turned out to be the opposite reflection of the turmoils and emotional rollercoasters of what I was experiencing in my personal life.
                    p I organized my first solo art exhibition in February of 2015 with 37 unique original pieces and sold 8 of my artworks that first evening. Since then I held other solo exhibitions, accepted commissioned work, sold to private collectors, participated in multiple group shows, contributed my artworks to fundraisers and gave out as donations for worthy causes.
                .about__bottom
                    .about__img.bg(style="background-image: url('../../img/about.jpg')")
                    .about__name
                        span Lusine<br>Saakyan

        .about__bg.bg.desktop(style="background-image: url('../../img/about_bg.jpg')")





    // end about
