extends layout/layout.pug

block content

    // begin testNav
    section#testNav.testNav.section
        .container_center
            h2.section__title
                span Навиганция
            ul(style="font-size:1.25em;")
                li
                    a(href="home") главная


    // end testNav
